<!DOCTYPE html>
<html>
  <head>
    <title>PLATYPUS</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'logo.png' %>

  </head>

  <body class="<%= yield (:body_class) %> color" >

    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

     <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="logo">
          <img width="200"  src="http://www.textures4photoshop.com/tex/thumbs/glowing-triangle-1-thumb18.jpg">
        </div>
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-1" style="color:white;">PLATYPUS</h1>
        <% end  %>

        <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">

      
   

      <%= link_to "Pricing", home_pricing_path, class:"navbar-item button is-black" %>
          
      

    </div>
  </div>
</div>
</div>
       
       
      <div class="navbar-item has-dropdown is-hoverable is-link">
        <a class="navbar-link">
          Articles
        </a>
        
      <div class="navbar-dropdown">
         <% @pageNav.all.each do |page| %>
          <a class="navbar-item">
            <li><%= link_to page.title, page_path(page.id) %></li>
          </a>
        <% end %>
      
        <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>


    </div>

      

      <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">

            <% if user_signed_in? %>
             <%= link_to 'Home', root_path, class: "button is-dark" %>
              <div class="navbar-item has-dropdown is-hoverable">
                <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
                <div class="navbar-dropdown is-right">
                  <%= link_to current_user.Name, edit_user_registration_path, class:"navbar-item" %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                </div>
              </div>
            <% else %>

            <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-link" %>
            <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-link"%>

            <% end %>

            </div>
          </div>
        </div>
    </div>
  </nav>

  <%= yield(:header) %>

  <div class="container">

    <%= yield %>

  </div>
<%= render 'layouts/footer' %>
  </body>
</html>